.seller-dashboard-container {
  display: flex;
}

.seller-content {
  display: flex;
}
.card {
  display: flex;
  flex-direction: column;
}

.card-body {
  flex: 1;
}

.table-container {
  height: 300px; /* Adjust height as needed */
  overflow: auto;
}

.table th, .table td {
  vertical-align: middle;
  white-space: wrap;
}

.table-responsive {
  overflow-x: auto;
}

.text-danger {
  color: #dc3545 !important;
}

.text-success {
  color: #28a745 !important;
}

.text-primary {
  color: #007bff !important;
}

.text-dark {
  color: #343a40 !important;
}

.list-group-item {
  border-radius: 0.25rem;
}

tbody {
  display:block;
  max-height:400px;
  overflow-y:auto;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
  font-size: 14px;
}
thead {
  width: calc( 100% - 1em )
}
.stock-product{
  width: 40%;
}
.stock-changetype{
  width: 18%;
}
.stock-change,.quantity{
  width: 15%;
}

.pr-4{
  padding-right: 30px;
}
.totalSales,.status{
  width: 25%;
}
.rank{
  width: 10%;
}
.outOfStock{
  color: red !important;
}

.critical{
  color: orangered !important;
}
.lowStock{
  color: blue !important;
}
.pointer{
  cursor: pointer;
}
