<footer class="footer mt-4">
  <div class="footer-top">
    <div class="container">
      <div class="footer-sections">
        <div class="footer-section">
          <h4>ABOUT</h4>
          <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Flipkart Stories</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Flipkart Wholesale</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h4>HELP</h4>
          <ul>
            <li><a href="#">Payments</a></li>
            <li><a href="#">Shipping</a></li>
            <li><a href="#">Cancellation & Returns</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Report Infringement</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h4>POLICY</h4>
          <ul>
            <li><a href="#">Return Policy</a></li>
            <li><a href="#">Terms Of Use</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h4>SOCIAL</h4>
          <ul>
            <li><a href="#"><mat-icon>facebook</mat-icon> Facebook</a></li>
            <li><a href="#"><mat-icon>twitter</mat-icon> Twitter</a></li>
            <li><a href="#"><mat-icon>instagram</mat-icon> Instagram</a></li>
            <li><a href="#"><mat-icon>youtube</mat-icon> YouTube</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h4>Mail Us</h4>
          <address>
            Flipkart Internet Private Limited<br>
            Buildings Alyssa, Begonia & Clove Embassy Tech Village<br>
            Outer Ring Road, Devarabeesanahalli Village<br>
            Bangalore – 560103, Karnataka, India
          </address>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <p>&copy; 2024 Flipkart Internet Private Limited. All Rights Reserved.</p>
      <div class="footer-bottom-links">
        <a href="#">Terms Of Use</a> |
        <a href="#">Privacy</a> |
        <a href="#">Sitemap</a>
      </div>
    </div>
  </div>
</footer>
