<div class="container">
  <h2>Create Category</h2>
  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
      <mat-label>Category Name</mat-label>
      <input matInput type="text" formControlName="name" required>
      <mat-error *ngIf="categoryForm.get('name').hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput type="text" formControlName="description" rows="4"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Create</button>
  </form>
</div>
